<!--<footer class="footer">
    <div class="logo-container" >

        <div class="logo">
            <img [src]="logoUrl" alt="Logo">
            <h1 class="title">{{ title }}</h1>
        </div>
        
        <p class="paragraph">
            FoodFun brings you a perfect blend of taste, quality, and comfort.<br>
            From classic favorites to modern delights, our menu is crafted to<br>
            satisfy every craving.
        </p>

    </div> 
    
    <div class="contact-detail">
        <h5 class="contact">Contact Us</h5>

        <div class="d-flex">
            <div class="icon">
               <i class='fas fa-map-marker-alt'></i>
            </div>
            <div class="info-text">
                <p>1234 Satyamev Eminence, science city rd, Sola, Ahmedabad.</p>
            </div>
        </div>

        <div class="d-flex">
            <div class="icon">
               <i class='fas fa-map-marker-alt'></i>
            </div>
            <div class="info-text">
                <p>(123) 456 78 90</p>
            </div>
        </div>

        <div class="d-flex">
            <div class="icon">
               <i class='fas fa-map-marker-alt'></i>
            </div>
            <div class="info-text">
                <p>xyz@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="opening-hours">
        <h5 class="open">Opening Hours</h5>
        <p>Mon-Fri...10am to 11pm</p>
        <p>Sat-Sun...10am to 12pm</p>    
        
    </div>

</footer>-->

<footer class="footer-container d-flex flex-column">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <!-- Logo + Title -->
            <div class="footer-logo-container d-flex">
                <img [src]="logoUrl" alt="Logo" class="footer-logo">
                <h4 class="footer-title">{{ title }}</h4>
            </div>

            <p class="footer-paragraph">
                FoodFun brings you a perfect blend of taste, quality, and comfort.
                From classic favorites to modern delights.
            </p>
        </div>

        <!-- contact Us -->
        <div class="col-12 col-sm-6 col-md-3">
            <h5 class="heading">Contact Us</h5>

            <div class="d-flex align-items-start contact-item mb-2">
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="info-text">
                    <p class="mb-0">
                        123,XYZ street, Ahmedabad,Gujarat,India.
                    </p>
                </div>
            </div>

            <div class="d-flex align-items-start contact-item">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="info-text">
                    <p class="mb-0">(123) 456 78 90</p>
                </div>
            </div>

            <div class="d-flex align-items-start contact-item">
                <div class="icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="info-text">
                    <p class="mb-2">xyz@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3 opening-hours">
            <h5 class="open">Opening Hours</h5>
            <p>Mon-Fri.....10am to 11pm</p>
            <p>Sat-Sun.....10am to 12pm</p>    
        </div>
    </div>
</footer>

<!-- subfooter -->
<div class="col-12 col-sm-6 col-md-4"></div>
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center subfooter">
    <p class="copyright">copyright ©2025. All rights reserved</p>
    <div class="social-icons">
        <span>Follow Us:</span>
        <i class="fab fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fab fa-instagram"></i> 
    </div>
</div>

    


                                                                                                                   