.footer-container{
  background-color: #9a2a16;
  color:white;
 /* height:150px; */
  padding: 7px 15px;
 /* width: 100%; */
  height:auto;
  
}

.footer-logo-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo{
  padding-top:0px;
  margin-left:10px; 
  width:50px;
  height: auto;
  
}

.footer-title{
  padding-bottom:2px;
  padding-left:5px;
  font-size:22px;
  line-height:1.2;
}

.footer-paragraph{
  margin-left:80px;
  padding-bottom:3px;
  font-size:14px;
  
}


.heading{
  margin-top:5px;
  font-size:20px;
 /* margin-left:180px; */
 
}

.contact-item{
  display:flex;
  align-items:flex-start;
  gap:10px;
  margin-bottom:6px;
}

/*.icon{
  padding-left:170px;
} */


.info-text{
 
  max-width:220px;
  word-wrap:break-word;
  line-height:1.2;
  font-size:15px;

}

.opening-hours{
 /* margin-top:5px; */
  
 /* margin-left:180px; */
}

.open{
  margin-top:5px;
  
}

.opening-hours p{
  padding-top:5px;
}
.subfooter{
  background-color: #c14630ff;
  color:white;
  padding:5px 15px;
 /* height: 25px; */
}

.copyright{
  margin-left: 60px;
  font-size:13px;
  padding-top:10px;
}

.social-icons{
  margin-right:30px;
  
}

.social-icons i{
  margin-left:10px;
} 

/* Mobile FIRST (default) */
.heading,
.opening-hours,
.footer-paragraph {
  margin-left: 0;
  text-align: center;
}

.icon {
  padding-left: 0;
}

@media (max-width: 768px){
  .footer-container{
   /* height: 150px; */
    overflow-y: auto;
  }
}

/* Desktop only */
@media (min-width: 992px) {
  .heading {
    margin-left: 180px;
  }

  .opening-hours {
    margin-left: 180px;
  }

  .icon {
    padding-left: 170px;
  }

  .footer-paragraph {
    margin-left: 80px;
    
  }
}


