/*.header {
  display: flex;
  align-items: center;          
  justify-content: space-between; 
  padding: 10px 20px;
  background-color: #a33c2aff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height:40px;
}

.logo-container {
  display: flex;
  align-items: center;  
  gap: 10px;            
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;            
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s;
  font-size:20px;
}

.nav a:hover {
  color: #ff5722;
} */

.header{
  background-color: #9a2a16;
  padding:5px 20px;
  color:white;
}

.header-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  
}

.navbar-collapse {
  display: none; /* hidden on mobile */
}

.navbar-collapse.show {
  display: block; /* visible when toggled */
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  padding-top:14px;
  margin-right:10px;
}

.nav-link:hover {
  color: #ff5722 !important;
}

.header-title {
  font-weight: bold;
  font-size: 24px;
 /* padding-top:12px; */
  padding-left:10px;
}


