.login-wrapper{
   width: 100%;
   
} 

.login-img {
  max-width: 90%;
  height: 50%; 
  object-fit: contain;
  display:block;
}

.login-card{
    max-width:400px;
    padding:1rem 0;
    background:#eaeaea;
    border-radius:8px;
    margin-bottom:20px;
}


.login-card .form-control {
  padding: 0.5rem 1rem;   /* reduce default padding */
  width:80%;
}

.login-card .btn {
   margin: 1rem auto 0;
  padding: 0.5rem 1rem;
}

 /*background-repeat: no-repeat; 
    width:auto;
    height:60vh;
    background-size: contain; */


